body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #b7cc7a;
    background-color: #f0f5f9;
}
.cabecalho {
    display: none;
}
.rodape {
    display: none;
}
.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
}
.formCadastro img {
    align-items: center;
    margin:10px;
    width: min-content;
}
.formulario {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    gap: 5px;
    max-width: 550px;
    width: 100%;
}
.formulario h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, #4f852f,#9ab83f ,#368020 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
.formulario p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    text-align: center;
}

.formulario input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 10px;
    transition: all linear 160ms;
    outline: none;
}
.formulario input:focus {
    border: 1px solid #1a936f;
}
.formulario label {
    font-size: 14px;
    font-weight: 500;
}
.botao {
    background: -webkit-gradient(linear, left top, right top, from(#629644 ), to(#c2d48b)) no-repeat;
    background: -moz-linear-gradient(left,#f0f7da , #fcfcfc);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000');
    color: #fff;
    font-size: 15px;
    height: 40px;
    width: 40px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px; 
    width: 70%; 
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    text-decoration: none;

}

.botao:hover {
    transform: scale(1.05);
    background: -webkit-gradient(linear, left top, right top, from(#4f852f), to(#e5fd9c)) no-repeat;
    background: -moz-linear-gradient(left,#f0f7da, #fcfcfc);
}
#seta-btn {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #529c3b;
    cursor: pointer;
    float: left;
}
#senhaAsterisco{

    content: "************";
}