body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color:#b7cc7a;
    background-color: #f0f0f0;
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f0f5f9;
    padding-top: 40px;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    max-width: 550px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, #4f852f,#9ab83f ,#368020 );
            background-clip: text;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
             color: black;
}

.formulario p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    text-align: center;
}
.formCadastro img {
    align-items: center;
    margin:10px;
    width: min-content;

}

.formulario label {
    font-size: 14px;
    font-weight: 500;
    
}


.formulario input,
.formulario select,
.formulario textarea {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    outline: none;
}

.formulario input:focus,
.formulario select:focus,
.formulario textarea:focus {
    border: 1px solid #1a936f;
}


.botao {
    background: -webkit-gradient(linear, left top, right top, from(#629644 ), 
            to(#c2d48b)) no-repeat;
            background: -moz-linear-gradient(left,#f0f7da , #fcfcfc);
            filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000');
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    font-weight: 600;
    border: none !important;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    margin: 0 !important;
    transition: all linear 160ms;
}

.botao:hover {
    transform: scale(1.05);
    background: -webkit-gradient(linear, left top, right top, from(#4f852f), to(#e5fd9c )) no-repeat;
    background: -moz-linear-gradient(left,#f0f7da , #fcfcfc);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000');
}
