/*Início Corpo -----------------------------------------------------------------------*/
.seuPerfil
{
    grid-area:seuPerfil;
    font-size: 50px;
    color: #77ab59;
    margin-top: 20px;
    
    align-items: center;
    justify-content: center;
}

/*Menuzinho*/
.menuPaginaUsuario
{
    grid-area: menuPaginaUsuario;
    margin: 15px;
    justify-content: center;
}

.menuPaginaUsuario fieldset
{
    background-color: #e0f3a9;
    border-color: #77ab59;
    border-width: 1px;
    align-self: start;
    justify-content: left;
    width: 90%;
    height: 100%;
}

.menuPaginaUsuario fieldset legend
{
    background-color: #b7cc7a ;
}

/*Segurança*/
.seguranca
{
    grid-area: seguranca;
    margin: 15px;
    justify-content: center;
}

.seguranca fieldset
{
    border-color: #77ab59;
    border-width: 1px;
    justify-content: left;
    width: 90%;
    height: 100%;
}

.seguranca fieldset legend
{
    background-color: #b7cc7a;
}

/*Meu Perfil*/
.meuPerfil
{
    grid-area: meuPerfil;
    margin: 15px;
    justify-content: center;
}

.meuPerfil fieldset
{
    border-color: #77ab59;
    border-width: 1px;
    align-self: start;
    justify-content: left;
    width: 90%;
    height: 100%;
}

.meuPerfil fieldset legend
{
    background-color: #b7cc7a;
}

.botaoLogado
{

    width: 200px;
    height: 30px;

    border-radius: 10px;
    border: none;

    background-color:  #368020;

    color: rgb(255, 255, 255);
    font-weight: bold;  
    
    opacity: 1;
    transition: 0.3s;
}

.botaoLogado:hover
{
    background-color:  #449d29;
}

.visualizarSenha
{
    width: 25px;
}

/*Fim Corpo --------------------------------------------------------------------------------*/

.container
{
    background-color: #f0f7da;
    display: grid;    
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 14vh 6vh 13vh 20vh 45vh 10vh 18vh;
    grid-template-areas:"cabecalhoPesquisa cabecalhoPesquisa cabecalhoPesquisa "
                        "cabecalho cabecalho cabecalho"
                        "seuPerfil seuPerfil seuPerfil"
                        "menuPaginaUsuario seguranca seguranca"
                        "menuPaginaUsuario meuPerfil meuPerfil"
                        "rodape rodape rodape"
                        "rodapeDevs rodapeDevs rodapeDevs";
}

.container div
{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
}

#senhaAsterisco {

    -webkit-text-security: disc;
}

#senhaAsterisco:hover
{

    -webkit-text-security: none;
} 
